.card-cliente{
    background-color: rgb(197, 197, 197);
    width: 250px;
    height: 350px;
    display: flex;
    flex-flow: column nowrap;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    margin: 15px;
}



.nome{
    padding: 15px 0;
    font-size: 18px;
}

.relato{
    font-size: 15px;
}

.card-cliente-img{
    background: url(../../../public/images/user.png);
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: contain;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 90px;
}