.sobre-cont h2{
    color: white;
    font-size: 30px;
    
  }

  .sobre-cont{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 50px;
    text-align: center;
  }

  .sobre-cont p {
    font-weight: bold;
    font-size: 25px;
    padding: 20px 0;
  }

.imagem-c{
    width: 1000px;
}

.image1{
    background: url(../../../../public/images/restaurante1.jpg);
    width: 800px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.img-c-d {
  color: white;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 80%);
  width: 100%;
  text-align: left;

}

.image2{
    background: url(../../../../public/images/restaurante2.webp);
    width: 800px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.image3{
    background: url(../../../../public/images/restaurante3.png);
    width: 800px;
    height: 400px;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}

.carrousel-container{
    max-width: 1024px;
    margin: 0 auto;
    z-index: 1;
}

@media(max-width:500px){
  .image1, .image2, .image3{
    height: 280px;
    width: 100%;
  }

  .contato-cont{
    display: flex;
    flex-flow: column nowrap;
  }

  .foxy-cont p {
    font-size: 23px;
  }
}